<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'main3.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

<header>
    <div class="a111">
        <h1>Welcome to Your Detail</h1> <br>
        <a style="width: 50px; height: 30px; margin-top: 50px;" href="{% url 'list_c' %}">Menu</a>
        <a style="width: 50px; height: 30px; margin-top: 50px;" href="{% url 'delete_c' object.id %}">Delete</a>
        <a style="width: 50px; height: 30px; margin-top: 50px;" href="{% url 'update_c' object.id %}">Update</a>
    </div>
</header>

{% block content %}
<div class="container">
    <div class="card">
        <h3>Name: {{ object.name }}</h3>
        <h3>Time: {{ object.location }}</h3>
        <h3>Description: {{ object.genres }}</h3>
    </div>
</div>


<div class="container">
    <div class="card">
{% for sub in answer %}
        <h3>Name: {{ sub.name }}</h3>
    {% endfor %}
    </div>
</div>
{% endblock content %}

</body>
</html>
